body {
    background-color: rgb(105, 179, 179);
  }
  
  h1 {
    text-align: center; 
    font-weight: bold;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    font-size: 50px;
    color: rgb(255, 255, 0);
    margin: 20px 0;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    align-content: space-between;
  }
  
  .dice {
    height: 50vh;
    width: 50vw;
    gap: 10px;
  }
  
  img {
    height: 300px;
    width: 300px;
    margin-left: 150px;
    margin-top: 150px;
  }
  